html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: #eee;
	font-weight: bold;
	text-decoration: none;
}

body {
	background: #70ae45;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

main {
	display: block;
	height: 400px;
	width: 600px;
	margin: auto;
	text-align: center;
}

section span {
	font-size: 56px;
	line-height: 100px;
	vertical-align: top;
}

section img {
	width: 100px;
	height: 100px;
}

section + span {
	font-size: 40px;
}

a#download {
	font-size: 20px;
	line-height: 20px;
}

a#download img {
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;
}

aside {
	display: block;
	text-align: center;
	width: 100%;
}
